.friends {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    overflow: hidden;
  }
  .hover-friend.active {
    background-color: rgb(255, 252, 252);
  }
  .hover-friend {
    cursor: pointer;
    &:hover {
      background-color: rgb(255, 252, 252);
    }
    .friend {
      display: flex;
      width: 100%;
      padding: 7px 15px;

      .friend-image {
        .image {
          width: 45px;
          position: relative;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          .active_icon {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: rgb(43, 228, 43);
            right: -2px;
            bottom: 6px;
            border: 1px solid #fff;
          }
        }
      }
      .friend-name-seen {
        margin-left: 8px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .friend-name {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          h4.unseen_message {
            font-weight: 700 !important;
          }
          h4 {
            color: black;
            font-size: 14px;
            font-weight: 400;
          }
          .msg-time {
            span.unseen_message {
              font-weight: 700 !important;
            }
            span {
              font-size: 12px;
            }
          }
        }
        .seen-unseen-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
            border-radius: 50%;
          }
          .unseen,
          .delivered {
            color: rgb(0, 0, 0);
            svg {
              margin-left: 5px;
            }
          }
          .seen-icon {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: rgb(70, 181, 255);
            color: rgb(70, 181, 255);
          }
        }
      }
    }
  }
}
