* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #16537e;
  font-family: 'Open Sans';
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
li {
  list-style: none;
}
